<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<canvas id="canvas" width="700" height="700"></canvas>
<script>
var canvas = document.getElementById("canvas");
var context = canvas.getContext("2d");
var colorRed = 0 ;
var colorYellow = 0;
var colorGreen = 0;
var color ={'red' : 0,'yellow' : 0,'green' : 0}

function makeHttpObject() {
   try {return new XMLHttpRequest();}
   catch (error) {}
   try {return new ActiveXObject("Msxml2.XMLHTTP");}
   catch (error) {}
   try {return new ActiveXObject("Microsoft.XMLHTTP");}
   catch (error) {}

   throw new Error("Could not create HTTP request object.");
}

function apdateColor(e){
   var x = e.pageX;
   var y = e.pageY;
   if (75 < x && 125 > x && 75 < y && y < 125){
      if (color.red){
         drawCircle(100,"#fcc");
         color.red= 0;
      }
      else {
         drawCircle(100,"#e00");
         color.red= 1;
      }
   }
   else if (175 < x && 225 > x && 75 < y && y < 125){
      if (color.yellow){
         drawCircle(200,"#ffc");
         color.yellow= 0;
      }
      else {
         drawCircle(200,"#fe0");
         color.yellow= 1;
      }
   }
   else if (275 < x && 325 > x && 75 < y && y < 125){
      if (color.green){
         drawCircle(300,"#cfc");
         color.green= 0;
      }
      else {
         drawCircle(300,"#0e0");
         color.green= 1;
      }
   }
   var param = "/?red="+color.red+"&yellow="+color.yellow+"&green="+color.green;
   apdateServer(param);
   return;
}

function drawCircle(p,col){
   context.beginPath();
   context.arc(p,100, 25, 0, Math.PI * 2, false);
   context.closePath();
   context.fillStyle = col;
   context.fill();
}
function strokeCircle(p,col){
   context.beginPath();
   context.arc(p,100, 26, 0, Math.PI * 2, false);
   context.closePath();
   context.strokeStyle = "#eee";
   context.stroke();
}
function apdateServer(params){
   var http = makeHttpObject();
   http.open("GET", params, true);
   http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   http.setRequestHeader("Content-length", params.length);
   http.setRequestHeader("Connection", "close");
   http.send(null);
   http.onreadystatechange = function(){
      if(http.readyState == 4){
         if(http.status == 200) {
             var a = Number(http.responseText);
             context.fillStyle = "#fff";
             context.fillRect(400,25,40,255);
             context.fillStyle = "#f0f";
             context.fillRect(400,280-a,40,a);  
         }
      }
   }
}
</script> 
<script>
drawCircle(100,"#fcc");
strokeCircle(100,"#f00");
drawCircle(200,"#ffc");
strokeCircle(200,"#ffc");
drawCircle(300,"#cfc");
strokeCircle(300,"#cfc");
context.fillStyle = "#000";
context.fillRect(399,24,42,257);
context.fillStyle = "#fff";
context.fillRect(400,25,40,255);
canvas.addEventListener("click",apdateColor, false);
var a = setInterval(function(){apdateServer("/avr?adc=1")}, 1000);
</script>
</html>
